.card {
  display: inline-block;
  box-shadow: 0 2px 2px #ccc;
  width: 200px;
  padding: 20px;
}

.greenCard {
  border: 5px solid green;
}

.redCard {
  border: 5px double red;
  font-weight: bold;
}

.captionWrapper {
  border-bottom: 2px solid black;
  font-weight: bold;
  font-size: 20px;
  color: green;
}

.caption {
  display: inline-block;
}

.text {
  font-size: 20px;
  color: green;
}

.checkbox {
  position: relative;
  float: right;
}
