.card {
  display: inline-block;
  box-shadow: 0 2px 2px #ccc;
  width: 10%;
  padding: 20px;
}

.caption-wrapper {
  display: flex;
  border-bottom: 2px solid black;
  font-weight: bold;
  font-size: 20px;
  color: green;
}

.caption {
  overflow: hidden;
  flex: 2;
  white-space: nowrap;
  justify-content: space-between;
}

.green-card {
  border: 5px solid green;
}

.red-card {
  border: 5px double red;
  font-weight: bold;
}

.text {
  font-size: 20px;
  color: green;
  overflow: hidden;
}

.card-icon {
  margin-right: 1px;
}
